[submodule "segmentation_metrics"]
	path = segmentation_metrics
	url = /home/babu/aditya/correlation_june/segmentation_metrics/
[submodule "seg_metrics"]
	path = seg_metrics
	url = https://github.com/BardOfCodes/seg_metrics_pytorch
